* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
body {
  justify-content: center;
  display:flex;
  align-items: center;
}
:root{
  --verde: #6AC259;
  --laranjado: #FFCC29;
  --rosa: #FFC0CB;
  --verdePetroleo: #206A5D;
  --amarelo: #FFF76A;
  --branco: aliceblue;
}
main {
  padding: 0;
  width: 100%;
}
.body-inicial{
  background-color: var(--verde);
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.card-pagina{
  display: flex;
  background-color: var(--branco);
  max-width: 90rem;
  max-height: 1000rem;
  flex-direction: column;
  border-style: solid;
  position: fixed;
  top:3%;
  margin: 40px;
 
}
.card-barra{
  max-width: 84.09rem;
  height: 3rem;
  background-color: var(--laranjado);
  border-bottom: 3px solid;
  position: relative;
}
.circulo{
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: relative;
  background-color: var(--rosa);
  border: 2px solid;
  top: 1rem;
  left: 1rem;
}

.circulo::before{
  content: "";
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: absolute;
  background-color: var(--amarelo);
  border: 2px solid;
  top: -2px;
  left: 2rem;
}
.circulo::after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: absolute;
  background-color: var(--verde);
  border: 2px solid;
  top: -2px;
  left: 4rem;
}
.titulo-e-info{
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.titulo-cifra{
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  font-size: 3.5em;
}
.infos{
  background-color: var(--verdePetroleo);
  color:var(--branco);
  max-width: 80rem;
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}
/* .div-opcoes{
  display: block;
  justify-content: center;
  flex-direction: column;
} */
.div-opcoes {
  position: absolute;
  text-align: center;
  margin-bottom: 2rem;
}
.cripto, .descripto {
  margin-top:3rem;
  flex-direction: row;
  display: inline-block;
  padding: 30px 56px;
  background-color: var(--branco);
  border-radius: 30px;
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: bold;
  
}
#cadeado-fechado{
  color: var(--rosa);
}
#cadeado-aberto{
  color: var(--laranjado);
}
.cripto:hover{
  background-color: #D1759B;
  transition: 2s;
}

.descripto:hover{
  background-color:#D6AE2D;
  transition: 2s;
}

/* .descripto {
  flex-direction: row;
  display: inline-block;
} */

@media screen and (min-width: 1200px) {
  .div-opcoes {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 842px) {
  .div-opcoes {
    padding-top: 32rem;
  }
}
@media screen and (min-width: 460px) {
  .div-opcoes {
    padding-top: 38rem;
  }
  
}