* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
body {
  justify-content: center;
  display:flex;
  align-items: center;
}
:root{
  --verde: #6AC259;
  --laranjado: #FFD85A;
  --rosa: #FFC0CB;
  --verdePetroleo: #206A5D;
  --amarelo: #FFF76A;
  --branco: aliceblue;
  --laranjadoEscuro:#F58634;
}
main {
  padding: 0;
  width: 100%;
}
.body-inicial{
  background-color: var(--verde);
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.card-pagina{
  display: flex;
  background-color: var(--branco);
  max-width: 90rem;
  max-height: 1000rem;
  flex-direction: column;
  border-style: solid;
  position: fixed;
  top:3%;
  margin: 40px;
 
}
.card-barra{
  max-width: 84.09rem;
  height: 3rem;
  background-color: var(--laranjadoEscuro);
  border-bottom: 3px solid;
  position: relative;
}
.circulo{
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: relative;
  background-color: var(--rosa);
  border: 2px solid;
  top: 1rem;
  left: 1rem;
}

.circulo::before{
  content: "";
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: absolute;
  background-color: var(--amarelo);
  border: 2px solid;
  top: -2px;
  left: 2rem;
}
.circulo::after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius:50%;
  position: absolute;
  background-color: var(--verde);
  border: 2px solid;
  top: -2px;
  left: 4rem;
}
.titulo-e-info{
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.titulo-cifra{
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  font-size: 3.5em;
}
.infos{
  background-color: var(--verdePetroleo);
  color:var(--branco);
  max-width: 80rem;
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}

.div-opcoes {
  position: absolute;
  text-align: center;
  margin-bottom: 2rem;
}
.cripto, .descripto {
  margin-top:3rem;
  flex-direction: row;
  display: inline-block;
  padding: 30px 56px;
  background-color: var(--branco);
  border-radius: 30px;
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: bold;
  
}
#cadeado-fechado{
  color: var(--rosa);
}
#cadeado-aberto{
  color: var(--laranjado);
}
.cripto:hover{
  background-color: #D1759B;
  transition: 2s;
}

.descripto:hover{
  background-color:#D6AE2D;
  transition: 2s;
}

.body-cripto{
  background-color: var(--laranjado);
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.conteudo-cripto{
    display: inline-block;
    text-align: center;
    width: 50rem;
   
}
.titulo-cifrar{
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  font-size: 3.5em;
  text-shadow: 2px 4px  var(--laranjadoEscuro);
}
.text-area-cripto{
 width: 20rem;
 height: 10rem;
 background-color: var(--laranjado);
 border: 2px solid;
 margin-bottom: 0.5rem;
 margin-left: 3rem;
 margin-right: 3rem;
 margin-top: 0.5rem;
}
#textoParaCriptografar{
display: inline-block;
}
.instrucoes{
  text-align: center;
  width:20rem;
  margin-left: 3rem;
}
#texto-criptografado{
  display: inline-block;
}
.deslocaCifra{
  background-color: var(--rosa);
  padding: 8px 40px;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  margin-left: 3rem;
  width: 20rem;
  text-align: center;
}
.enviar{
  margin-top: 0.5rem;
  background-color: var(--verde);
  border-radius: 20px;
  border: 10px solid var(--verde);
  font-weight: bold;
  font-size: 1em;
  margin-left: 3rem;
  width: 20rem;
  margin-bottom: 3rem;
  align-items: center;
}
.btn-limpar{
  margin-left: 7rem;
  position: fixed;
  margin-top: -5rem;
}
.btn-copiar{
  margin-left: 18rem;
  position: fixed;
  margin-top: -5rem;
}
.btn-limpar,.btn-copiar{
  background-color: var(--verde);
  border-radius: 20px;
  border: 10px solid var(--verde);
  font-weight: bold;
  font-size: 1em;
  width: 9rem;
  align-items: center;
}

.body-descripto{
  background-color: var(--rosa);
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.text-area-descripto{
  width: 20rem;
  height: 10rem;
  background-color: var(--rosa);
  border: 2px solid;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
 }
 .desloca-cifra-desc{
  background-color: var(--laranjado);
  padding: 8px 40px;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  margin-left: 3rem;
  width: 20rem;
  text-align: center;
 }
@media screen and (min-width: 1200px) {
  .div-opcoes {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 842px) {
  .div-opcoes {
    padding-top: 32rem;
  }
}
@media screen and (min-width: 460px) {
  .div-opcoes {
    padding-top: 38rem;
  }
}